<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% var rootPath = '../' %>
    <%- include(rootPath + 'partials/head') %>
</head>
<body class="container">

<header>
    <%- include(rootPath + 'partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
    <% data.forEach(drink => { %>
     <h1><%= drink.name %>  </h1>
     <h1><%= drink.drunkness %>  </h1>
    <% }) %>
</main>

<footer>
    <%- include(rootPath + 'partials/footer') %>
</footer>

</body>
</html>